In [1]:
!pip install lxml

Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.4.1)

In [2]:
import pandas as pd

###### Read wikipedia table into dataframe "df"
- If this step fails save the file and restart the kernel

In [3]:
df=pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")[0]

###### Preview the first 5 lines of the new dataframe "df"

In [4]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

###### create a condition to exclude any rows where the Borough is "Not assigned"

In [5]:

condition = df['Borough'] != 'Not assigned'
print(condition)

0      False
1      False
2       True
3       True
4       True
       ...
283     True
284     True
285     True
286     True
287    False
Name: Borough, Length: 288, dtype: bool

###### Pass this condition into the dataframe "df"

In [6]:
df[condition]

    Postcode           Borough             Neighbourhood
2        M3A        North York                 Parkwoods
3        M4A        North York          Victoria Village
4        M5A  Downtown Toronto              Harbourfront
5        M5A  Downtown Toronto               Regent Park
6        M6A        North York          Lawrence Heights
..       ...               ...                       ...
282      M8Z         Etobicoke  Kingsway Park South West
283      M8Z         Etobicoke                 Mimico NW
284      M8Z         Etobicoke        The Queensway West
285      M8Z         Etobicoke     Royal York South West
286      M8Z         Etobicoke            South of Bloor

[211 rows x 3 columns]

###### Create a new dataframe "df_boroughs" with this condition applied to the data in "df" and preview the data

In [7]:
df_boroughs=df[condition]

In [8]:
df_boroughs.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

###### Group the data by postcode and Borough so that there is only 1 row per Postcode+Borough combination

In [9]:
df_boroughs.groupby(['Postcode','Borough'])['Neighbourhood'].apply(', '.join).reset_index()

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                     Rouge, Malvern
1        M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                  Guildwood, Morningside, West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

###### Create a new dataframe "df_b_grouped" to contain this grouped data

In [10]:
df_b_grouped = df_boroughs.groupby(['Postcode','Borough'])['Neighbourhood'].apply(', '.join).reset_index()
df_b_grouped

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                     Rouge, Malvern
1        M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                  Guildwood, Morningside, West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

###### create a condition to find rows where the Neighbourhood is "Not assigned"

In [11]:
condition2 = df_boroughs['Neighbourhood'] == 'Not assigned'
print(condition2)

2      False
3      False
4      False
5      False
6      False
       ...
282    False
283    False
284    False
285    False
286    False
Name: Neighbourhood, Length: 211, dtype: bool

###### Pass this condition to the dataframe "df_boroughs"

In [12]:
df_boroughs[condition2]

  Postcode       Borough Neighbourhood
8      M7A  Queen's Park  Not assigned

###### Where a neighbourhood is "Not assigned", set the name of the Borough as the Neighbourhood in the original dataframe "df" and "df_boroughs"

In [13]:
#REPLACE
df.Neighbourhood.replace('Not assigned',df_boroughs.Borough,inplace=True)
#df['Neighbourhood'] = np.where(df['Neighbourhood'] == 'Not assigned', df['col2'], df['col1'])

In [14]:
#REPLACE
df_boroughs.Neighbourhood.replace('Not assigned',df_boroughs.Borough,inplace=True)
#df['Neighbourhood'] = np.where(df['Neighbourhood'] == 'Not assigned', df['col2'], df['col1'])

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/pandas/core/generic.py:6786: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

###### Pass condition2 into df_boroughs to confirm the data replacement was successful

In [15]:
df_boroughs[condition2]

  Postcode       Borough Neighbourhood
8      M7A  Queen's Park  Queen's Park

###### Create a new dataframe "df_b_grouped2" to contain apply the same data grouping as done previously to the data with "Not assigned" replaced with the Neighbourhood name. Then display the final 20 records where the replaced data can be seen

In [16]:
df_b_grouped2 = df_boroughs.groupby(['Postcode','Borough'])['Neighbourhood'].apply(', '.join).reset_index()

In [17]:
df_b_grouped2.tail(20)

    Postcode       Borough                                      Neighbourhood
83       M6R  West Toronto                             Parkdale, Roncesvalles
84       M6S  West Toronto                                 Runnymede, Swansea
85       M7A  Queen's Park                                       Queen's Park
86       M7R   Mississauga              Canada Post Gateway Processing Centre
87       M7Y  East Toronto  Business Reply Mail Processing Centre 969 Eastern
88       M8V     Etobicoke       Humber Bay Shores, Mimico South, New Toronto
89       M8W     Etobicoke                             Alderwood, Long Branch
90       M8X     Etobicoke      The Kingsway, Montgomery Road, Old Mill North
91       M8Y     Etobicoke  Humber Bay, King's Mill Park, Kingsway Park So...
92       M8Z     Etobicoke  Kingsway Park South West, Mimico NW, The Queen...
93       M9A     Etobicoke                                   Islington Avenue
94       M9B     Etobicoke  Cloverdale, Islington, Martin Grove, Princess ...
95       M9C     Etobicoke  Bloordale Gardens, Eringate, Markland Wood, Ol...
96       M9L    North York                                      Humber Summit
97       M9M    North York                                   Emery, Humberlea
98       M9N          York                                             Weston
99       M9P     Etobicoke                                          Westmount
100      M9R     Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V     Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W     Etobicoke                                          Northwest

In [19]:
df_b_grouped2.shape

(103, 3)